.single-item .spesifikasi-produk {
  margin: 0 139px 57px 139px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1.6px;
  color: #000000;
}
.single-item .rectangle-69 {
  border-radius: 20px;
  background: #EDF2F4;
  position: relative;
  margin-right: 69px;
  width: 459px;
  height: 458px;
}
.single-item .ice-flake-ice-machine {
  margin-bottom: 46px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1.2px;
  color: #000000;
}
.single-item .mesin-es-flake-1-ton-mesin-es-flake-3-ton-mesin-es-flake-5-ton {
  margin: 0 2px 25px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}
.single-item .mesin-es-flake-atau-mesin-es-serpih-menghasilkan-es-dengan-ketebalan-sekitar-18-mm-2-mm-es-berbentuk-serpihan-kering-yang-kecil-tidak-menggumpal-dan-tanpa-tetesan-air-bentuk-es-flake-tumpul-sehingga-tidak-akan-merusak-bahan-yang-disimpan-ukuran-es-serpih-yang-kecil-juga-membuat-proses-pendinginan-menjadi-lebih-efektif-karena-dapat-menutupi-seluruh-permukaan-bahan-mesin-es-flake-cocok-digunakan-untuk-industri-makanan-terutama-sektor-perikanan-dan-daging-pendinginan-dengan-es-flake-juga-lebih-praktis-karena-ukuran-es-sudah-ideal-dan-tidak-perlu-dihancurkan-sebelum-digunakan-jadi-es-dapat-langsung-digunakan-untuk-mendinginkan-produk {
  margin: 0 0 59px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}
.single-item .kontak-kami-6281314843063 {
  margin: 0 5px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}
.single-item .container-1 {
  margin: 1px 0 13px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.single-item .container-7 {
  margin: 0 18.7px 73px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.single-item .telusuri-produk-serupa {
  margin: 0 122px 42px 122px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1.2px;
  color: #000000;
}
.single-item .rectangle-691 {
  background: url('../assets/images/rectangle_14.png') 50% / contain no-repeat;
  width: 211px;
  height: 212px;
}
.single-item .container {
  border-radius: 10px;
  background: #EDF2F4;
  position: relative;
  margin-right: 31px;
  display: flex;
  padding: 42px 0 41px 0;
  width: 299px;
  height: 295px;
  box-sizing: border-box;
}
.single-item .rectangle-701 {
  background: url('../assets/images/rectangle_67.png') 50% / contain no-repeat;
  width: 212px;
  height: 212px;
}
.single-item .container-6 {
  border-radius: 10px;
  background: #EDF2F4;
  position: relative;
  display: flex;
  padding: 42px 0 41px 1px;
  width: 299px;
  height: 295px;
  box-sizing: border-box;
}
.single-item .container-3 {
  margin: 0 111px 14px 111px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 629px;
  box-sizing: border-box;
}
.single-item .mesin-es {
  margin-right: 8.5px;
  width: 321.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #000000;
}
.single-item .mesin-es-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #000000;
}
.single-item .container-4 {
  margin: 0 111px 46px 111px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 394px;
  box-sizing: border-box;
}
.single-item .perusahaan-kami-berkomitmen-untuk-fokus-dalam-mengembangkan-solusi-layanan-bisnis-produksi-es-dari-hulu-hingga-hilir {
  margin: 62px 38px 0 0;
  display: inline-block;
  width: 388px;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.single-item .contact-us-eyasminuaecoldstorage-id-p-6281314843063-ajalan-raya-serang-km-14-cikupa-tangerang-banten {
  margin-bottom: 24px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.contact-us-eyasminuaecoldstorage-id-p-6281314843063-ajalan-raya-serang-km-14-cikupa-tangerang-banten-sub16 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.333;
}
.contact-us-eyasminuaecoldstorage-id-p-6281314843063-ajalan-raya-serang-km-14-cikupa-tangerang-banten-sub17 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.contact-us-eyasminuaecoldstorage-id-p-6281314843063-ajalan-raya-serang-km-14-cikupa-tangerang-banten {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.single-item .daftar-isi-produk-kami-artikel-tentang-kami {
  margin-bottom: 43px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.daftar-isi-produk-kami-artikel-tentang-kami {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.single-item .group {
  width: 32.5px;
  height: 32.5px;
}
.single-item .whatsapp-logo-fill-svgrepo-com {
  margin-right: 23.7px;
  display: flex;
  width: 32.5px;
  height: 32.5px;
  box-sizing: border-box;
}
.single-item .hubungi-kami {
  margin: 6.3px 0 7.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.single-item .container-5 {
  margin: 78.7px 0 26.7px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.single-item .container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1317.9px;
  height: fit-content;
  box-sizing: border-box;
}
.single-item .rectangle-27 {
  background: url('../assets/images/rectangle_27.png') 50% / cover no-repeat;
  position: absolute;
  left: 161px;
  top: 74px;
  width: 101px;
  height: 101px;
}
.single-item .footer {
  background: #EDF2F4;
  position: relative;
  display: flex;
  padding: 112px 115.1px 115px 79px;
  width: 1512px;
  box-sizing: border-box;
}
.single-item .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.single-item .rectangle-70 {
  background: url('../assets/images/rectangle_3.png') 50% / contain no-repeat;
  position: absolute;
  left: 160px;
  top: 301px;
  width: 503px;
  height: 457px;
}
.single-item {
  background: #FFFFFF;
  display: flex;
  padding: 189px 0 8px 0;
  width: 1512px;
  box-sizing: border-box;
}
